@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base{
  @font-face {
    font-family: "Sans";
    src: url("./src/assets/Iranian\ Sans.ttf");
  }

  :root{
    --gradient-blue: #2acfcf;
    --color-very-light-blue: #E6F7FF;
    --color-gray: #bfbfbf;
    --color-purple: #4B3F6B;
    --color-hover: #515151;
    --color-navbar: #23272F;
    --color-text-primary: #23272F;
  }
}

@layer components{
  body{
    height: 100vh;
  }

  .navigation--link{
    @apply block xs:w-[80px] px-2 py-7 hover:bg-hover text-center transition duration-300;
  }

  .projects--arrow{
    @apply absolute top-1/2 -translate-y-1/2 z-20 rounded-full cursor-pointer shadow-button transition duration-300;
  }

  .github--button{
    @apply px-4 py-2 hover:bg-slate-500 transition duration-500 w-24 text-center h-full;
  }

}